.messenger-screen__container {
  display: flex;
  height: 100vh;
}

.messenger-screen__chats-panel {
  flex: 0 0 45%;
  min-width: 45%;
  border-right: 1px solid var(--border);
  overflow-y: auto;
}

.messenger-screen__chat-container {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--primary-text);
  border-bottom: 1px solid var(--primary-light);
}

.messenger-screen__chat-container:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}

.messenger-screen__chat-container_active {
  background-color: var(--primary-light);
}

.messenger-screen__chat-name {
  margin-left: 30px;
}

.messenger-screen__conversation-panel {
  flex-grow: 1;
}

.messenger-screen__no-selected-chat-view {
  background-color: var(--primary-light);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);
  font-size: 32px;
}

.messenger-screen__conversation-panel-content {
  height: 100%;
  background-image: url("/images/chat-background.png");
  background-color: var(--conversation-panel-background);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
}

.messenger-screen__conversation-panel-header {
  height: 69px;
  display: flex;
  align-items: center;
  background-color: var(--primary-light);
  border-bottom: 1px solid var(--border);
  font-size: 18px;
  color: var(--primary-text);
  padding-left: 30px;
}

.messenger-screen__conversation-panel-messages {
  flex-grow: 1;
  padding: 20px 0;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.messenger-screen__conversation-panel-footer {
  min-height: 62px;
  background-color: var(--primary-light);
  border-top: 1px solid var(--border);
  padding: 20px 0 20px 60px;
  display: flex;
  align-items: center;
  color: var(--secondary-text);
}

.messenger-screen__message-input {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: var(--secondary-text);
  resize: none;
}

.messenger-screen__send-message-button {
  margin-left: 14px;
  margin-right: 22px;
  margin-top: 4px;
}

.messenger-screen__send-message-button_hidden {
  visibility: hidden;
}

.messenger-screen__send-message-button:not(:disabled):hover {
  cursor: pointer;
}

.messenger-screen__message-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 19px;
  margin-top: 5px;
}

.messenger-screen__message-container_from-me {
  justify-content: flex-end;
}

.messenger-screen__message-container_from-friend {
  justify-content: flex-start;
}

.messenger-screen__message {
  position: relative;
  padding: 10px;
  max-width: 75%;
  padding: 9px 9px 14px 9px;
  box-shadow: 0 1px 1px rgba(var(--shadow-rgb), 0.13);
  border-radius: 7.5px;
}

.messenger-screen__message_from-me {
  background-color: var(--message-from-me-bg);
  border-top-right-radius: 0;
}

.messenger-screen__message_from-friend {
  background-color: var(--message-from-friend-bg);
  border-top-left-radius: 0;
}

.messenger-screen__message_from-me::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: var(--message-from-me-bg) transparent transparent transparent;
}

.messenger-screen__message_from-friend::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent var(--message-from-friend-bg) transparent
    transparent;
}

@media screen and (min-width: 1024px) {
  .messenger-screen__chats-panel {
    flex: 0 0 40%;
    min-width: 40%;
  }

  .messenger-screen__message-container {
    padding: 0 63px;
  }
}

@media screen and (min-width: 1300px) {
  .messenger-screen__chats-panel {
    flex: 0 0 30%;
    min-width: 30%;
  }
}
