.create-chat-form__container {
  height: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.create-chat-form__header {
  font-size: 20px;
  color: var(--tertiary-text);
  background-color: var(--secondary);
  height: 120px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.create-chat-form__back-button {
  margin-bottom: -4px;
}

.create-chat-form__content {
  flex-grow: 1;
  padding: 50px 20px;
}

.create-chat-form__button-form__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
