:root {
  --color-primary-light: #f0f2f5;
  --color-primary-text-dark: #111b21;
  --conversation-panel-background: #efeae2;
}

body {
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
