:root {
  --primary-light: #f0f2f5;
  --primary-text: #111b21;
  --secondary-text: #3b4a54;
  --border: #d1d7db;
  --message-from-me-bg: #d9fdd3;
  --message-from-friend-bg: #fff;
  --conversation-panel-background: #efeae2;
  --shadow-rgb: 11, 20, 26;
}

body {
  height: 100vh;
  overflow: hidden;
}

button {
  border: none;
  color: inherit;
}

button:disabled {
  opacity: 0.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: anywhere;
}
